/* .table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
  }
  
  .mat-elevation-z8 {
    background: #2a2a2a; 
    color: white;
    border-radius: 6px;
  }
  
  .mat-cell, .mat-header-cell {
    border-bottom: none;
  }
  
  .mat-cell {
    padding: 1rem;
  }
  
  .badge {
    padding: .3em .6em;
    font-size: 75%;
    color: #fff;
    border-radius: .25rem;
  }
  
  .badge-success {
    background-color: #28a745;
  }
  
  .badge-primary {
    background-color: #007bff;
  }
  
  .badge-warning {
    background-color: #ffc107;
  }
  .table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
  }
  
  .mat-elevation-z8 {
    background: #2a2a2a; 
    color: white;
    border-radius: 6px;
  }
  
  .mat-cell, .mat-header-cell {
    border-bottom: none;
  }
  
  .mat-cell {
    padding: 1rem;
  }
  
  .badge {
    padding: .3em .6em;
    font-size: 75%;
    color: #fff;
    border-radius: .25rem;
  }
  
  .badge-success {
    background-color: #28a745;
  }
  
  .badge-primary {
    background-color: #007bff;
  }
  
  .badge-warning {
    background-color: #ffc107;
  }
     */

